<a href="https://colab.research.google.com/github/kartiksharma2383/Python/blob/main/Function%20and%20Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Functions
def evenodd(x):
  if(x%2 == 0):
    return "Even"
  else:
    return "Odd"
print(evenodd(16))
print(evenodd(7))

Even
Odd

In [ ]:
# Types of function arguments: Default argument, keyword argument, positional argument, arbitrary arguments
# Default arguments
def fun(x, y = 50):
  print("x: ", x)
  print("y: ", y)
  return
fun(10)
fun(70, 100)

x:  10
y:  50
x:  70
y:  100

In [ ]:
# Keyword arguments
def fun(a, b):
  print(a, b)
fun(a=1, b=2)
fun(a=3, b=4)

1 2
3 4

In [ ]:
# Postional Arguments
def fun(name, age):
 print('hi', name)
 print('my age is', age)
print('case 1:')
fun('k', 20)
print('case 2:')
fun('d', 25)

case 1:
hi k
my age is 20
case 2:
hi d
my age is 25

In [ ]:
# Arbitary keyword argument
# *args in Python (Non-Keyword Arguments)
def fun(*argv):
  for arg in argv:
    print(arg)
fun('hello', 'guys')

hello
guys

In [ ]:
def fun(*args):
    return sum(args)
print(fun(1, 2, 3, 4))
print(fun(5, 10, 15))

10
30

In [ ]:
def number_args(*number):
  print(number[0] * number[1])
number_args(5, 6, 1, 2, 8)

30

In [ ]:
def number_squared_cust(number,power):
  print(number**power)
number_squared_cust(5,3)

125

In [ ]:
def number_squared_cust(number,power):
  print(number**power)
number_squared_cust(power = 5, number = 3)

243

In [ ]:
args_tuple = (5,6,1,2,8)
def number_args(*number):
  print(number[0] * number[1])
number_args(*args_tuple)

30

In [ ]:
def fun(arg1, *argv):
  print("first argument:", arg1)
  for arg in argv:
    print("Argument *argv:", arg)
fun('hello', 'hi', 'guys')

first argument: hello
Argument *argv: hi
Argument *argv: guys

In [ ]:
# Variable length keyword arguments
# **kwargs in Python (Keyword Arguments)
def fun(**kwargs):
  for key, value in kwargs.items():
    print("%s == %s" % (key, value))
fun(first = 'hi', mid = 'hello', last = 'guys')

first == hi
mid == hello
last == guys

In [ ]:
def number_kwarg(**number):
  print('number: ' + number['integer'] + ' other number: ' + number['integer2'])
number_kwarg(integer = '2309', integer2 = '349')

number: 2309 other number: 349

In [ ]:
def fun(**kwargs):
    for k, val in kwargs.items():
        print(k, val)
fun(a=1, b=2, c=3)

a 1
b 2
c 3

In [ ]:
def fun(*args, **kwargs):
  print("args: ", args)
  print("kwargs: ", kwargs)
fun('hello', 'guys', a = '1', b = '2')

args:  ('hello', 'guys')
kwargs:  {'a': '1', 'b': '2'}

In [ ]:
# Docstring (The first string after the function is called the Document string or Docstring in short. This is used to describe the functionality of the function.)
def evenodd(x):
  "hi, hello"
  if(x%2 == 0):
   print("even")
  else:
   print("odd")
print(evenodd.__doc__)

hi, hello

In [ ]:
# Inner function or nested function : Function that is defined inside another function is known as the inner function or nested function.
def f1():
  s = 'hi'
  def f2():
    print(s)
  f2()
f1()

hi

In [ ]:
# Anonymous function : It is a function without a name.
def cube(x): return x*x*x # with lambda
cube_l = lambda x: x*x*x # without lambda
print(cube(7))
print(cube_l(7))

343
343

In [ ]:
# return statement
def square_value(num):
  return num**2
print(square_value(2))
print(square_value(3))

4
9

In [ ]:
# pass by reference and pass by value
def f(x):
  x[0] = 20
list = [10,11,12]
f(list)
print(list)

[20, 11, 12]

In [ ]:
# When we pass a reference and change the received reference to something else, the connection between the passed and received parameters is broken.
def f(x):
  x = [10,11,12]
list = [10,20,30]
f(list)
print(list)

[10, 20, 30]

In [ ]:
def f(x):
  x = 10
x = 20
f(x)
print(x)

20

In [ ]:
def swap(x ,y):
  temp = x
  x = y
  y = temp
x = 2
y = 3
swap(x, y)
print(x)
print(y)

2
3

In [ ]:
# Pass keyword in function
def f():
  pass
  f()
print("function executed")

function executed

In [ ]:
# =(single equals to sign) is the assignment statement, it assign the value
# ==(double equals to sign) is the comparasion statement, it checks if the value is equal to given value
for i in range(5):
  if i == 3:
    pass
  else:
      print(i)

0
1
2
4

In [ ]:
# pass in classes
class emptyclass:
  pass
  class person:
    def __init__(self, name, age):
      self.name = name
      self.age = age
p1 = emptyclass.person("John", 36)
print(p1.name)
print(p1.age)

John
36

In [ ]:
# Local variables
def f():
  msg = "Hi"
  print(msg)
f()

Hi

In [ ]:
# Global variables
msg = 'Hi'
def display():
  print("Inside function:", msg)
display()
print("Outside function:", msg)

Inside function: Hi
Outside function: Hi

In [ ]:
def fun():
  print("Inside fun", s)
s = "hi"
fun()
print("Outside fun", s)

Inside fun hi
Outside fun hi

In [ ]:
# Modifying global vairables inside the function
def fun():
  global s
  s += 'hi'
  print(s)
  s = 'hello'
  print(s)
s = 'guys'
fun()
print(s)

guyshi
hello
hello

In [ ]:
# f() prints the global a without changing it.
# g() creates a local a that shadows the global one, leaving the global a unchanged.
# h() uses global to modify the global a.
# Only h() changes the global variable, f() and g() do not.
a = 1
def f():
  print('f():', a)
def g():
  a = 2
  print('g():', a)
def h():
  global a
  a = 3
  print('h():', a)

print('global:', a)
f()
print('global:', a)
g()
print('global:', a)
h()
print('global:', a)

global: 1
f(): 1
global: 1
g(): 2
global: 1
h(): 3
global: 3

In [ ]:
# Recursive function: It refers to when a function calls itself.
def factorial(n):
  if n == 0:
    return 1
  else:
      return n * factorial(n-1)
print(factorial(3))

6

In [ ]:
def fibonacci(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(10))

55

In [ ]:
# Types of recursion:
# Tail Recursion: The recursive call is the last thing the function does, so nothing happens after it returns.
# Non-Tail Recursion: The function does more work after the recursive call returns, so it can’t be optimized into a loop.
def tail_fact(n, acc = 1):
  if n == 0:
    return acc
  else:
    return tail_fact(n-1, acc * n)
def nontail_fact(n):
  if n == 1:
    return 1
  else:
    return n * nontail_fact(n-1)
print(tail_fact(5))
print(nontail_fact(5))

120
120

In [ ]:
# Lambda function
s1 = 'hi'
s2 = lambda func: func.upper()
s3 = lambda func: func.lower()
print(s2(s1))
print(s3(s1))

HI
hi

In [ ]:
n = lambda x: "positive" if x > 0 else "negative" if x < 0 else "zero"
print(n(5))
print(n(-3))
print(n(0))

positive
negative
zero

In [ ]:
# Using lambda
sq = lambda x: x ** 2
print(sq(3))

# Using def
def sqdef(x):
  return x ** 2
print(sqdef(3))

9
9

In [ ]:
list = [lambda arg = x: arg * 10 for x in range(1, 5)]
for i in list:
 print(i())

10
20
30
40

In [ ]:
# check if no. is even or odd using lambda
check = lambda x: "Even" if x % 2 == 0 else "Odd"
print(check(4))
print(check(7))

Even
Odd

In [ ]:
# addition and mulitplication using lambda
cal = lambda x, y: (x + y, x * y)
res = cal(3, 4)
print(res)

(7, 12)

In [ ]:
# filter even no. from a list using lambda
n = [1, 2, 3, 4, 5]
even = filter(lambda x: x % 2 == 0, n)
print(list(even))

[2, 4]

In [ ]:
a = [1, 2, 3, 4, 5, 6]
b = filter(lambda x: x % 2 == 0, a)
c = map(lambda x: x * 2, b)
print(list(c))

[4, 8, 12]

In [ ]:
# double each no. in a list using map function
a = [1, 2, 3, 4]
b = map(lambda x: x * 2, a)
print(list(b))

[2, 4, 6, 8]

In [ ]:
# lambda with reduce function
from functools import reduce
a = [1, 2, 3, 4]
b = reduce(lambda x, y: x * y, a)
print(b)

24

In [ ]:
s = ['1', '2', '3', '4']
res = map(int, s)
print(list(res))

[1, 2, 3, 4]

In [ ]:
# converting map object to a list
a = [1, 2, 3, 4]
def double(val):
  return val * 2
res = list(map(double, a))
print(res)

[2, 4, 6, 8]

In [ ]:
# map() with lambda
a = [1, 2, 3, 4]
res = list(map(lambda x: x * 2, a))
print(res)

[2, 4, 6, 8]

In [ ]:
# map() with multiplt iterables
a = [1, 2, 3]
b = [4, 5, 6]
res = map(lambda x, y: x + y, a, b)
print(list(res))

[5, 7, 9]

In [ ]:
# converting string to uppercase
fruits = ['apple', 'banana', 'cherry']
res = map(str.upper, fruits)
print(list(res))

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
# Extracting first character from strings
words = ['apple', 'banana', 'cherry']
res = map(lambda s: s[0], words)
print(list(res))

['a', 'b', 'c']

In [ ]:
# removing white spaces from string
s = [' hello ', ' world ']
res = map(str.strip, s)
print(list(res))

['hello', 'world']

In [ ]:
# filter(): It filters the given sequence with the help of a function that test each element in the sequence to be true or not.
def even(n):
  return n % 2 == 0
a = [1, 2, 3, 4, 5, 6]
b = filter(even, a)
print(list(b))

[2, 4, 6]

In [ ]:
# reduce(): It is used to apply a function to the items of an iterabe, reducing the iterabe to a single list.
# iterable is any Python object that you can loop over (iterate through) using a for loop.
from functools import reduce
a = [1, 2, 3, 4]
b = reduce(lambda x, y: x * y, a)
print(b)

24

In [ ]:
# function to add two no.
from functools import reduce
def add(x, y):
  return x + y
a = [1, 2, 3, 4, 5]
res = reduce(add, a)
print(res)

15

In [ ]:
# reduce function with lambda function
from functools import reduce
a = [1, 2, 3, 4]
res = reduce(lambda x, y: x * y, a)
print(res)

24

In [ ]:
# reduce function with operator module
import functools
import operator
a = [1, 3, 5, 6, 2]
print(functools.reduce(operator.add, a))
print(functools.reduce(operator.mul, a))
print(functools.reduce(operator.add, ["hi", "hello", "guys"]))

17
180
hihelloguys

In [ ]:
# reduce function with initializer
# lambda x, y: x + y = lambda function takes two arguments, x and y, and returns their sum.
# a: This is the iterable (a list in this case) that reduce will process.
# 10: This is initializer, so reduce will start from 10, then add first element of a, then second element of a, and so on.
from functools import reduce
a = [1, 2, 3]
res = reduce(lambda x, y: x + y, a, 10)
print(res)

16

In [ ]:
# accumulate(): It returns an iterator of intermediate results, while reduce() returns only final value.
# res = accumulate(a, add): The accumulate() function takes the list a and the add function as arguments. It returns an iterator that produces accumulated sums. The first element is the first element of a, the second is the sum of the first two elements, the third is the sum of the first three, and so on.
from itertools import accumulate
from operator import add
a = [1, 2, 3, 4, 5]
res = accumulate(a, add)
print(list(res))

[1, 3, 6, 10, 15]